
.card-mine li {
  margin-bottom: 10px !important;
}
button:focus {
  outline: none;

  box-shadow: none;
}
.el-table th,
.el-table--enable-row-transition .el-table__body td {
  text-align: center;
}

.account {
  float: right;
}
.more_detail {
  padding: 0 20px 20px 20px;
}
.demo-fit .block {
  display: flex;
}
.demo-fit .block .block_item1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.drawers {
  background-image: url("../media_icon/iloli.gif");
  background-position: 150px 420px;
  background-repeat: no-repeat;
}

